<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head> -->

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Form Ubah Barang</h2>
                    <br>
                    <form th:action="@{/barang/ubah}" th:object="${barang}" method="POST">

                        <input type="hidden" th:field="*{idBarang}" />

                        Nama Barang : <br>
                        <input class="form-control" type="text" name="namaBarang" th:value="*{namaBarang}" />
                        <br><br>

                        Kode Barang: <br>
                        <input class="form-control" type="text" name="kodeBarang" th:value="*{kodeBarang}" readonly />
                        <br><br>

                        Merk Barang : <br>
                        <input class="form-control" type="text" name="merkBarang" th:value="*{merkBarang}" readonly />
                        <br><br>

                        Stok Barang : <br>
                        <input class="form-control" type="text" name="stokBarang" th:value="*{stokBarang}" />
                        <br><br>

                        Garansi Toko : <br>
                        <input class="form-control" type="text" name="jumlahGaransi" th:value="*{jumlahGaransi}" />
                        <br><br>

                        Deskripsi Barang : <br>
                        <input class="form-control" type="text" name="deskripsiBarang" th:value="*{deskripsiBarang}" />
                        <br><br>

                        Tipe Barang : <br>
                        <select class="form-control" th:field="*{tipe}" disabled>
                            <option value="">Pilih Tipe</option>
                            <option th:each="tipe : ${listTipe}" th:value="${tipe.idTipe}" th:text="${tipe.namaTipe}">
                            </option>
                        </select>
                        <br><br>

                        <input type="hidden" th:field="*{tipe}" />

                        Harga Barang : <br>
                        <input class="form-control" type="text" name="hargaBarang" th:value="*{hargaBarang}" />
                        <br><br>

                        <button class="btn btn-warning btn-outline-light" type="submit">Submit</button>
                        <a class="btn btn-light btn-outline-warning" href="/barang">Batal</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>